@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using OpenDMS.Domain.Entities;
@using Web.DTOs;
@model UserAuthorizations_DTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Autorizzazioni";
    Layout = "_CustomizeLayout";
}

<script>

    $(document).ready(function () {

        $(function () {
            Carica("liCustomize-Autorizzazioni");
        });
    })
</script>

<div class="MainPanel">
    <div class="Header">
        <a href="/Customize/Index" class="Desktop"> <i class="fa fa-bars"></i></a>
        <h1>
            <small>Profilo Utente</small>
            <span>Autorizzazioni</span>
        </h1>
    </div>


    <div id="Message_Target"></div>
    <div class="Panel">

        <ul class="nav nav-list disabled">
            <li class="header">
                <h6>Autorizzazioni</h6>
            </li>
            <li>
                @foreach (var permission in Model.Permessi)
            {
                <div class="Row">
                    <span>
                    @permission.PermissionName
                        </span>
                </div>
            }
            <li>
        </ul>
    </div>

</div>
