@page
@model Web.Pages.Help.IndexModel
@{
    Layout = "_HelpLayout";
}

@section Releases
{
    @foreach (var f in Model.ReleaseNotes)
    {
        <li>
            <a href="?releaseNote=@f"><i class="fa fa-file-text-o"></i> @f</a>
        </li>
    }
}

@section Header
{
    Supporto Tecnico
}

@section SubHeader
{
    Contatti
}


<div class="Panel">
    <br />
    <h1>@Model.ReleaseNoteFileName</h1>
    <br />
    @Html.Raw(Model.ReleaseNoteBody)
</div>

