@{
    ViewData["Title"] = "Credits";
    Layout = "_MenuLayout";
}


<div class="Header">
    @await Component.InvokeAsync("CompanyLogo")
    <i class="Credits"></i>
    <h1>
        <small class="DocumentType">Ver.24.06 Build 2406201530</small>
        <span class="Description">Ringraziamenti</span>
    </h1>


</div>
<div class="Panel">
    <img src="~/images/POFESR2014-2020.png" style="width:84vw;margin: 0 5vw" />
</div>
