@page
@model DeleteModel
@{
    ViewData["Title"] = "Eliminazione Tenant";
    Layout = "_dialog";
}
<style>
    h2
    {
        font-size:1.4em;
    }
    .card
    {
        border:none;
        padding:0;
        margin: 0;
        margin-bottom: 24px;
    }
    .Row 
    {
        min-height:32px;
        margin:4px 0;
        display:flex;
        flex-direction:row;
        border-bottom: 1px dotted #ddd;
    }
    .Row label {
        display:flex;
        min-width:30%;
        max-width: 100px;
        overflow: hidden;
        text-overflow:ellipsis;
    }

    .Row span {
            display: flex;
            min-width: max(70%, 100px);
        max-width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight:500;
    }

        .Row span *
            {
            display:flex;
            flex-grow:1;
        }

            .Row span input[type=checkbox] {
                display: inline;
                flex-grow: 0;
            }

</style>
<h1><i class="fa fa-trash"></i> Eliminazione Tenant</h1>
<div style="position:relative">

    <form method="Post">
        @if (!String.IsNullOrEmpty(Model.Error))
        {
            <div class="alert alert-danger">@Model.Error</div>
        }

        <div class="alert alert-danger">
            <h2>Stai per eliminare il seguente tenant:</h2>
            <br />
                <b>@Model.tenant.Description</b>
                <p>Identificativo: @Model.tenant.Id</p>
        </div>
        <div style="margin-bottom:20px;">
            <p><i clasS="fa fa-info-circle"></i> Il database del tenant non sarà eliminato.</p>
            <p> Se dovessi cancellare il tenant per errore, potrai ricrearlo nuovamente indicando lo stesso nome del database</p>
        </div>
        <div style="margin-bottom:20px;">
            <button type="submit" class="btn btn-danger">Confermi Eliminazione</button>
            <a href="/NewTenant" class="btn btn-light">Annulla</a>
        </div>
    </form>

</div>