@page
@model Web.Pages.VerificaModel
@{
    ViewData["Title"] = "Pagina di Verifica";
    Layout = "_ConservazioneLayout";
}

<div class="MainWindow">
    <div class="Header">
        <i class="fa fa-gift"></i>
        <h1>
            <small>
                Versamento
            </small>
            <span id="HeaderTitle">Avanzamento processi di estrazione e verifica</span>
        </h1>
        <div class="right-header">
            <a href="#" onclick="return CloseWindow()"><i class="fa fa-times"></i></a>
        </div>
    </div>

    <div>        
            <div id="Table" style="position: relative; height: 529px;" class="FullHeight">
                <div style="position: relative; height: 529px;" class="FullHeight">
                    <div style="position: relative; height: 529px;" class="FullHeight">
                        <table id="Grid" class="table table-hover">
                            <thead>
                                <tr id="Riga_${ID}" onclick="return Firma('${ID}','${DaDataString}','${ADataString}');">
                                    <th nowrap="" style="text-align: right; font-size: 16px;">P.d.V.</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Data Avvio (UTC)</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Utente Produttore</th>
                                    <th style="width: 20%; font-size: 16px;">Tipologia</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Gruppo</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Ultimo</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Dal</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Al</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Anno</th>
                                    <th nowrap="" style="text-align: right; font-size: 16px;">Documenti</th>
                                    <th nowrap="" style="font-size: 16px;">Stato</th>
                                    <th style="width: 50%; font-size: 16px;"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="TableBody"> </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    $(document).ready(() => {
        $(".mnuVerifica").addClass("active");

        
        $.ajax({
            url: "@Model.EndPointVerifica",
            type: "GET",
            dataType: "json",
            success: function (data) {
                
                popolaTabella(data);
            },
            error: function (error) {
                console.error("Errore durante la chiamata all'API:", error);
            }
        });

        
        function popolaTabella(dati) {
            const tableBody = document.getElementById("TableBody");

            dati.forEach(dato => {
                const row = document.createElement("tr");

                row.appendChild(createCell(dato.pdV, "right"));
                row.appendChild(createCell(formatData(dato.dataAvvio), "right"));
                row.appendChild(createCell(dato.utenteProduttore));
                row.appendChild(createCell(dato.tipologia, "", true));
                row.appendChild(createCell(dato.gruppo, "right"));
                row.appendChild(createCell(dato.ultimo, "right"));
                row.appendChild(createCell(formatData(dato.dal), "right"));
                row.appendChild(createCell(formatData(dato.al), "right"));
                row.appendChild(createCell(dato.anno, "right"));
                row.appendChild(createCell(dato.documenti, "right"));
                row.appendChild(createCell(dato.stato));

                const buttonsCell = document.createElement("td");
                buttonsCell.appendChild(createButton("Esito Estrazione", "success", `return Esito('${dato.id}');`));
                buttonsCell.appendChild(createButton("Esito Check Rapido", "", "daImplementare();"));
                row.appendChild(buttonsCell);

                tableBody.appendChild(row);
            });
        }

        
        function formatData(data) {
            return moment(data).format("YYYY-MM-DD HH:mm:ss");
        }

        
        function createCell(content, textAlign = "", useH5 = false) {
            const cell = document.createElement("td");
            cell.style.textAlign = textAlign;

            if (useH5) {
                const h5 = document.createElement("h5");
                h5.style.paddingTop = "3px";
                h5.textContent = content;
                cell.appendChild(h5);
            } else {
                cell.textContent = content;
            }

            return cell;
        }

        
        function createButton(text, styleClass, onClick) {
            const button = document.createElement("a");
            button.href = "#";
            button.className = "btn btn-" + styleClass + " btn-small";
            button.setAttribute("onclick", onClick);
            button.innerHTML = '<i class="' + (styleClass === "success" ? "fa fa-gift" : "fa fa-search-plus") + '"></i> ' + text;
            return button;
        }
    });

</script>
